<div class="sidebar" data-background-color="black" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                PE Minutes
            </a>
        </div>
        <ul class="nav">
            <li id="dashboard">
                <i class="ti-stats-up"></i>
                @Html.ActionLink("Dashboard", "Index", "Administration")
            </li>
            <li id="LastTen">
                <i class="ti-time"></i>
                @Html.ActionLink("Last 10 Days", "Reports", "Administration", new { timeFrame = -14, divisor = 200 }, null)
            </li>
            <li id="LastFive">
                <i class="ti-time"></i>
                @Html.ActionLink("Last 5 Days", "Reports", "Administration", new { timeFrame = -7, divisor = 100 }, null)
            </li>
            <li id="Yesterday">
                <i class="ti-time"></i>
                @Html.ActionLink("Yesterday", "Reports", "Administration", new { timeFrame = -1, divisor = 20 }, null)
            </li>
        </ul>
    </div>
</div>