<div class="sidebar" data-background-color="black" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                Minutes
            </a>
        </div>
        <ul class="nav">
            <li id="Dashboard">
                <i class="ti-stats-up"></i>
                @Html.ActionLink("Dashboard", "Index", "Teacher")
            </li>
            <li id="Reports">
                <i class="ti-time"></i>
                @Html.ActionLink((string)DateTime.Today.ToString("MMMM") + "'s Minutes", "Manage", "Teacher")
            </li>
            <li id="Approvals">
                <i class="ti-clipboard"></i>
                @Html.ActionLink("Approvals", "Approve", "Teacher")
            </li>
        </ul>
    </div>
</div>
