
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading text-center">Welcome to <br> PE Minutes</h2>
        @if (Request.IsAuthenticated)
            {
            @Html.ActionLink("Teacher", "Index", new { Controller = "Teacher", action = "Index" }, new { @class = "btn btn-lg btn-primary btn-block" })
        }
        else
        {
            @Html.ActionLink("Teacher", "Login", "Authentication", new { @class = "btn btn-lg btn-primary btn-block" })
        }
        @Html.ActionLink("Substitute", "Index", new { Controller = "Substitute", action = "Index" }, new { @class = "btn btn-lg btn-primary btn-block" })
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            $("div").removeClass("main-panel");
        });
    </script>
}


