
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel col-lg-5 col-lg-offset-3 center-block " style="padding-bottom:30px;">
    <div class="panel-body">
        <div class="row">
            <div>
                <h3 class="text-center">Welcome to PE Minutes</h3>


                <form class="form-signin">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Teacher", "Index", new { Controller = "Teacher", action = "Index" }, new { @class = "btn btn-lg btn-primary btn-block" })
                    }
                    else
                    {
                        @Html.ActionLink("Teacher", "Login", "Authentication", new { @class = "btn btn-lg btn-primary btn-block" })
                    }
                </form>

                <form class="form-signin">
                    @Html.ActionLink("Substitute", "Index", new { Controller = "Substitute", action = "Index" }, new { @class = "btn btn-lg btn-primary btn-block" })
                </form>
            </div>
        </div>
    </div>

</div>