@model PEMinutes.Models.User
@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, null))
{
	@Html.ValidationSummary(true, "Login failed. Check your login details.");
	<div>
		<div class="editor-label form-group">
			@Html.LabelFor(u => u.StaffBadgeNumber)
		</div>
		<div class="editor-field form-group">
			@Html.TextBoxFor(u => u.StaffBadgeNumber, new { placeholder = "Badge Number", @class = "form-control" })
			@Html.ValidationMessageFor(model => model.StaffBadgeNumber, "", new { @class = "text-danger" })
		</div>
		<input type="submit" value="Submit" class="btn btn-primary" />
	</div>
}

