@model IEnumerable<PEMinutes.EF.EnteredPeMinute>
@{
    ViewBag.Title = "Reports";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_AdministrationSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_AdministrationTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Minutes</h4>
                        <p class="category">
                            Total Number
                        </p>
                    </div>
                    <hr />
                    <table class="table" id="Reports">
                        <thead>
                            <tr>
                                <th>
                                    School
                                </th>
                                <th>
                                    Minutes
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.School)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Minutes)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var currentdate = new Date();
            var timestamp =
                        +(currentdate.getMonth() + 1) + "-"
                        + currentdate.getDate() + "-"
                        + currentdate.getFullYear() + "_"
                        + currentdate.getHours() + "-"
                        + currentdate.getMinutes() + "-"
                        + currentdate.getSeconds();

            $('#Reports').DataTable({
                dom: 'Bfrtip',
                lengthMenu: [
            [20],
            ['Show all']
                ],
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'PEMinuteAdminReport' + '_' + timestamp
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'PEMinuteAdminReport' + '_' + timestamp
                    }
                ]
            });
        });
    </script>
}
