@model IEnumerable<PEMinutes.EF.SchoolTeachersWithADLogin>

@{
    ViewBag.Title = "Substitute PE Minutes";   
}

<div class="container">
    <div class="col-sm-12 panel">
        <div class="panel-body">
            <div class="col-sm-12 col-lg-12 center-block">

                <h2>Please Choose the School and Teacher you are subbing for:</h2>
                <div class="row">
                    <div class="Index-Form">

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <select id="SelectASchool" class="form-control">
                                <option value="">Choose a School</option>
                                @foreach (var item in Model.OrderBy(x => x.Organization_Name).Select(x => x.Organization_Name).Distinct())
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div id="teacherselect">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <p class="errormessage">

                    </p>
                </div>


            </div>
            </div>
        </div>
    </div>


            @section scripts{

                <script>

                    $("#SelectASchool").on('change', function () {
                        var mySchool = $(this).val();
                        if (mySchool === "notaschool") {

                        } else {
                            $("#fademin").fadeIn('fast');
                            $.ajax({
                                type: 'Get',
                                url: '@Url.Action("_GetTeachers","Substitute")',
                                data: { schoolname: mySchool },
                                success: function (data) {
                                    $("#teacherselect").html(data);
                                },
                                error: function (data) {
                                    $(".errormessage").text('There was an error processing your request.');
                                }
                            });
                        }
                    });



                    function LoadSubMinutesCreate(element) {
                        var badge = $(element).val();
                        $.ajax({
                            type: 'Get',
                            url: '@Url.Action("Create", "Substitute")',
                            data: { selectedbadge: badge },
                            beforeSend: function () {

                            },
                            success: function (data) {
                                var url = '/Substitute/Create?selectedbadge=' + badge;
                                window.location.href = url;
                            },
                            error: function (data) {
                                $(".errormessage").text('There was an error processing your request.');
                            }
                        });
                    };
                </script>

            }
